@import url(./normalize.css);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
  min-width: 320px;
}

p {
  margin: 0;
}

.slider-container {
  display: grid;
  width: 50%;
  grid-template-areas: 'img img'
                      'text btn';
  grid-template-columns: 70% 30%;
  grid-template-rows: 400px 1fr;
  padding: 1rem;
  background-color: rgb(222, 229, 188);
  overflow: hidden;
  margin: 1rem;
}

.container-img {
  grid-area: img;
  margin-bottom: 1rem;
  display: flex;
  overflow: hidden;
  width: 412.8%;
}

.slider-first__img {
  box-sizing: content-box;
  background-image: url(./assets/img/think.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 100%;
  margin-right: 1rem;
}

.slider-second__img {
  box-sizing: content-box;
  background-image: url(./assets/img/disaster-girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 100%;
  margin-right: 1rem;
}

.slider-third__img {
  box-sizing: content-box;
  background-image: url(./assets/img/nooo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 100%;
  margin-right: 1rem;
}

.slider-fourth__img {
  box-sizing: content-box;
  background-image: url(./assets/img/tired.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25%;
  height: 100%;
  margin-right: 1rem;
}

.sub-container-text {
  overflow: hidden;
  grid-area: text;
}

.container-text {
  overflow: hidden;
  width: 400%;
  display: flex
}

.slider-first__text {
  width: 100%;
}


.slider-second__text {
  width: 100%;
}


.slider-third__text {
  width: 100%;
}


.slider-fourth__text {
  width: 100%;
}

.slider-menu {
  display: flex;
  justify-content: flex-end;
  grid-area: btn;
}

.container-select {
  display: inline-flex;
  flex-basis: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 2rem;
  cursor: pointer;
}

.custom-slider {
  border-radius: 50%;
  border: 2px solid rgb(72, 78, 170);
  width: 0.8rem;
  height: 0.8rem;
}

.slider-select {
  cursor: pointer;
  width: 0;
  height: 0;
  opacity: 0;
}

#slider-first:checked ~ .slider-menu .slider-first__input {
  background-color: rgb(70, 104, 216);
}

#slider-second:checked ~ .slider-menu .slider-second__input {
  background-color: rgb(70, 104, 216);
}

#slider-third:checked ~ .slider-menu .slider-third__input {
  background-color: rgb(70, 104, 216);
}

#slider-fourth:checked ~ .slider-menu .slider-fourth__input {
  background-color: rgb(70, 104, 216);
}

.container-select:active .custom-slider{
  transform: scale(1.2);
}

.container-select:hover .custom-slider{
  outline: 0.3rem solid rgba(14, 69, 95, 0.5);
}

.slider-img {
  transition: transform;
  transition-duration: 1s;
}

/* /* #slider-second:checked ~ .container-img .slider-second__img {
  order: 1;
  transition: order;
  transition-duration: 1s;
} */

#slider-first:checked ~ .container-img {
  transform: translate(0, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-second:checked ~ .container-img {
  transform: translate(-25%, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-third:checked ~ .container-img {
  transform: translate(-50%, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-fourth:checked ~ .container-img {
  transform: translate(-75%, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-first:checked ~ .sub-container-text .container-text {
  transform: translate(0, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-second:checked ~ .sub-container-text .container-text {
  transform: translate(-25%, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-third:checked ~ .sub-container-text .container-text {
  transform: translate(-50%, 0);
  transition: transform;
  transition-duration: 1s;
}

#slider-fourth:checked ~ .sub-container-text .container-text {
  transform: translate(-75%, 0);
  transition: transform;
  transition-duration: 1s;
}
